<h1>Category</h1>

<% @groups.each do |group|%>
  <a href="/groups/<%= group.id %>">
    <div>
      <img src="<%= group.icon %>" width="100"/>
    </div>
    <div>
      <p><%= group.name %></p>
      <p><%= group.created_at.strftime("%B %e, %Y") %></p>      
    </div>
    <div>
      <p>$ </p>
    </div>
  </a>
<% end %>
<%= link_to 'Add new category', new_group_path  %>
